   

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<div class="row">
  <!-- ====menu==== -->
  <div class="menu col l-3 m-0 c-0">

    <ul class="menu-nav l-3 m-0 c-0">
      <a href="http://localhost:3000/private">
                <img src="/img/logo.png" width="148px">
      </a>

    </ul>

<ul class="main">
          <ul class="menu-ul">
            <li class="menu-ul_li">
              <a href="#">
                <i class="ti-home"></i>
                Danh mục
                

                 

                    <li class="menu-ul_li-inside_li">
                      <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/dsdichvu">
                        <i class="ti-receipt"></i>
                        Danh mục dịch vụ
                      </a>
                    </li>

                    <li class="menu-ul_li-inside_li">
                      <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/thucdonmonan">
                        <i class="ti-bookmark-alt"></i>
                        Danh mục món ăn
                     </a>
                    </li>

     
                  </li>


              </a>
            </li>
            <li class="menu-ul_li">
              <a href="#">
                <i class="ti-user"></i>
                Khách hàng

                <li class="menu-ul_li-inside">
                  <li class="menu-ul_li-inside_li">
                    <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/khachhang">
                      <i class="ti-id-badge"></i>
                      Tạo hồ sơ khách hàng
                   </a>
                  </li>

                  <li class="menu-ul_li-inside_li">
                    <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/dskhachhang">
                      <i class="ti-cloud-down"></i>
                      Danh sách khách hàng
                    </a>
                  </li>

                </li>

              </a>
            </li>
          
            <li class="menu-ul_li">
              <a href="#">
                <i class="ti-direction"></i>
                Phòng
                <li class="menu-ul_li-inside">
                  <li class="menu-ul_li-inside_li">
                    <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/datphong">
                      <i class="ti-stamp"></i>
                      Đặt phòng
                   </a>
                  </li>

                  <li class="menu-ul_li-inside_li">
                    <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/doiphong">
                      <i class="ti-layout-media-right"></i>
                      Đổi phòng
                    </a>
                  </li>

                  <li class="menu-ul_li-inside_li">
                    <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/giahan">
                      <i class="ti-timer"></i>
                      Gia hạn phòng
                   </a>
                  </li>

                  

                </li>
              </a>
            </li>
            <li class="menu-ul_li">
              <a href="#">
                <i class="ti-clipboard"></i>
                Dịch vụ
                <li class="menu-ul_li-inside">
                  <li class="menu-ul_li-inside_li">
                    <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/sudungdichvu">
                      <i class="ti-layout-grid2"></i>
                      Đặt dịch vụ
                   </a>
                  </li>

                  <li class="menu-ul_li-inside_li">
                    <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/dattiec">
                      <i class="ti-agenda"></i>
                      Đặt tiệc
                    </a>
                  </li>

                </li>
              </a>
            </li>
            <li class="menu-ul_li">
              <a href="#">
                <i class="far fa-plus-square"></i>
                Tạo
                <li class="menu-ul_li-inside">
                  <li class="menu-ul_li-inside_li">
                    <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/dichvu">
                      <i class="far fa-plus-square"></i>
                      Tạo dịch vụ
                   </a>
                  </li>

                  <li class="menu-ul_li-inside_li">
                    <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/themmonan">
                      <i class="far fa-plus-square"></i>
                      Thêm món ăn
                    </a>
                  </li>

                </li>
              </a>
            </li>
            <li class="menu-ul_li">
              <a href="#">
                <i class="ti-face-smile"></i>
                Hóa đơn
                <li class="menu-ul_li-inside">
                  <li class="menu-ul_li-inside_li">
                    <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/traphong">
                      <i class="ti-receipt"></i>
                      Thanh toán trả phòng
                   </a>
                  </li>

                  <li class="menu-ul_li-inside_li">
                    <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/hddichvu">
                      <i class="ti-printer"></i>
                      Thanh toán dịch vụ
                    </a>
                  </li>

                  <li class="menu-ul_li-inside_li">
                    <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/hddattiecsearch">
                      <i class="ti-rocket"></i>
                      Thanh toán đặt tiệc
                   </a>
                  </li>

                  <li class="menu-ul_li-inside_li">
                    <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/hdsuco">
                      <i class="ti-money"></i>
                      Thanh toán sự cố
                    </a>
                  </li>

                  <li class="menu-ul_li-inside_li">
                    <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/hdtong">
                      <i class="ti-printer"></i>
                      Thanh toán tổng
                    </a>
                  </li>
                </li>
              </a>
            </li>
            <li class="menu-ul_li">
              <a href="#">
                <i class="ti-user"></i>
                Báo biểu
                 
                <li class="menu-ul_li-inside">
                  <li class="menu-ul_li-inside_li">
                    <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/thongketheongay">
                      <i class="ti-layout-grid2"></i>
                      Thống kê khách theo ngày
                   </a>
                  </li>

                  <li class="menu-ul_li-inside_li">
                    <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/thongketheothang">
                      <i class="ti-agenda"></i>
                      Thống kê khách theo tháng
                    </a>
                  </li>

                </li>
              </a>
            </li>
          </ul>
          
          </ul>


  </div>
  <!-- ====menu-end==== -->

  <!-- ====content==== -->
  <div class="menu col l-9 m-12 c-12">
    <nav class="content-nav">

      <ul class="l-3 content-nav_chuong_cachle1">
        <li>GonT</li>
      </ul>

      <ul class="l-8 m-0 c-0 content-nav_chuong_cachle">
        <li class="tro_giup content-nav_chuong">
          <i class="ti-help-alt"></i>
          Trợ Giúp
          <div class="header__notify-giup">
            <header class="header__notify-header-giup">
              <input type="text" placeholder="Nhập thông tin tìm kiếm tại đây">
            </header>
            <ul class="header__notify-list-giup">
              <li class="header__notify-item-giup header__notify-colorbackround-giup">
                <a href="" class="header__notify-link-giup">
                  - Hỗ trợ thiết bị bán hàng
                </a>
              </li>
            </ul>

            <ul class="header__notify-list-giup">
              <li class="header__notify-item-giup header__notify-colorbackround-giup">
                <a href="" class="header__notify-link-giup">
                  - Tài liệu hướng dẫn
                </a>
              </li>
            </ul>

            <ul class="header__notify-list-giup">
              <li class="header__notify-item-giup header__notify-colorbackround-giup">
                <a href="" class="header__notify-link-giup">
                  - Giao diện tổng quan
                </a>
              </li>
            </ul>

            
            <div class="header__notify-footer">
              <a href="" class="header__notify-footer-btn">
                <i class="fas fa-phone-alt"></i>
                0338091539
              </a>
              <a href="" class="header__notify-footer-btn">
                <i class="fas fa-envelope"></i>
                Gửi hỗ trợ
              </a>
            </div>
          </div>
        </li>
        <li class="js-buy-ticket content-nav_chuong">
          <i class="ti-heart"></i>
          Góp ý
        </li>
        <li class="info content-nav_chuong">

          <img src="/img/img_user.jpg" width="28px">
          NguyenPhucThanh
          <div class="for_info">
            <ul>
              <li>
                <a href="">
                  <i class="fas fa-user-circle"></i>
                  Tài khoản
                </a>
              </li>
              <li class="dich_vu">
                <a href="">
                  <i class="fas fa-concierge-bell"></i>
                  Gói dịch vụ
                </a>
              </li>
              <li>
                <a href="">
                  <i class="ti-book"></i>
                  Điều khoản dịch vụ
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fas fa-shield-alt"></i>
                  Chính sách bảo mật
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fas fa-headset"></i>
                  Hỗ Trợ
                </a>
              </li>
              <li class="dang_xuat">
                <a href="">
                  <i class="fas fa-sign-out-alt"></i>
                  Đăng xuất
                </a>
              </li>
            </ul>
        </li>
        <li class="bell content-nav_chuong">
          <i class="ti-bell"></i>
          <div class="header__notify">
            <header class="header__notify-header">
              <h3>Thông Báo Mới Nhận </h3>
            </header>
            <ul class="header__notify-list">
              <li class="header__notify-item header__notify-colorbackround">
                <a href="" class="header__notify-link">
                  <img src="/img/dichco.jpg" alt="" class="header__notify-img">
                  <div class="header__notify-info">
                    <span class="header__notify-name"> Cai nay là cái tên ở Trên</span>
                    <span class="header__notify-description"> Cai nay là cái tên ở Dưới</span>
                  </div>
                </a>
              </li>
            </ul>

            <ul class="header__notify-list">
              <li class="header__notify-item header__notify-colorbackround">
                <a href="" class="header__notify-link">
                  <img src="/img/dichco.jpg" alt="" class="header__notify-img">
                  <div class="header__notify-info">
                    <span class="header__notify-name"> Cai nay là cái tên ở Trên</span>
                    <span class="header__notify-description"> Cai nay là cái tên ở Dưới </span>
                  </div>
                </a>
              </li>
            </ul>

            <ul class="header__notify-list">
              <li class="header__notify-item   header__notify-colorbackround">
                <a href="" class="header__notify-link">
                  <img src="/img/dichco.jpg" alt="" class="header__notify-img">
                  <div class="header__notify-info">
                    <span class="header__notify-name"> Cai nay là cái tên ở Trên</span>
                    <span class="header__notify-description"> Cai nay là cái tên ở Duoi </span>
                  </div>
                </a>
              </li>
            </ul>

            <div class="header__notify-footer">
              <a href="" class="header__notify-footer-btn">
                Xem tất cả
              </a>
            </div>
          </div>
        </li>
      </ul>

      
    </nav>

    
    {{!-- nội dung bài --}}
    <div class="content-container">
      <div class="tieu_de">
        <div class="tieu_de-text">
          Danh sách khách hàng
        </div>
        <div class="tieu_de-huong-dan">
          <a href="">
            <i class="fas fa-exclamation-circle"></i>
            Hướng dẫn
          </a>
        </div>

      </div>
      {{!-- cú pháp kt --}}
      {{!-- {{#if deletedCount}} --}}
      <a href="/private/dskhachhang/trash">Thùng rác {{deletedCount}}</a>
      {{!-- {{/if}} --}}
      
     
    <table border="1" class="table_ds">
      <thead >
        <tr class="tr_ds">
     
          <th scope="col">
            STT

            {{!-- viết một controller tôi đang sử dụng chức năng sort đó
            truyển query paramter lên
            Sort Column name trong database
            sort từ nhỏ đén lớn asc --}}
            <a href="?_sort&column=name&type=asc">
              <span ></span> </a>
          </th>
          <th> Mã KH</th>
          <th scope="col">Tên khách hàng</th>
          <th scope="col">CMND</th>
          <th scope="col">SĐT</th>
          <th scope="col">ĐỊA CHỈ</th>
          <th scope="col">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        {{#each data }}
        <tr>
          {{!-- thẻ checkbox all --}}
   
          {{!-- sum này bên index.js chính để có thể thực hiện index + --}}
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this._id}}</td>
          <td>{{this.name}}</td>
          <td>{{this.cmnd}}</td>
          <td>{{this.phone}}</td>
          <td>{{this.address}}</td>

          <td>
            <a href="/private/khachhang/{{this._id}}/edit" class="btn">Sữa</a>
            {{!-- sau khi bấm xóa lấy được id khóa học mà muốn xóa
            data-id là truyền id khóa học muốn lấy --}}
        <form action="/private/khachhang/{{this._id}}?_method=DELETE" method="POST">
      
        <button style="background-color:red"type="submit">Xóa</button>
        </form>
          </td>
        </tr>
        {{!-- else là khi không có dữ liệu nó sẽ hiển thị --}}
        {{else}}
        <tr>
          <td colspan="6" class="text-center">Không có dữ liệu
          </td>
          <td colspan="12">   <a href="/khoahoc/showcreate">TẠO KHÁCH HÀNG</a></td>

        </tr>

      </tbody>
      {{/each}}
    </table>




  {{!-- confirm xóa khóa học --}}
<div class="modal" tabindex="-1" role="dialog" id="delete-khoahoc-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">bạn chắc chắn có muốn xóa không </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn có muốn xóa không </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        {{!-- truy vấn một cái nút confirm xóa bỏ chuyển hướng trình duyệt phương thức post --}}
        <button id="btn-delete-khoahoc" type="button" class="btn btn-danger">Xóa bỏ</button>
      </div>
    </div>
  </div>
</div>




    </div>




    });
      
          



</script>
